<h1>New Order</h1>

<!-- Display total amount -->
<div id="total-amount">
  <strong>Total Amount:</strong>
  <%= number_to_currency(@total_price) %>
</div>

<%= form_with(model: @order, url: orders_path, method: :post) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <strong>Product Names:</strong>
    <span><%= @product_names %></span>
    <%= f.hidden_field :product_names, value: @product_names %>
  </div>

  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :payment_method %>
    <%= f.text_field :payment_method %>
  </div>

  <%= f.hidden_field :total_price, value: @total_price %>
  <%= f.hidden_field :cart_id, value: @cart.id %>

  <div>
    <%= f.submit "Place Order" %>
  </div>
<% end %>
