<!-- app/views/products/show.html.erb -->

<h1><%= @product.name %></h1>
<p><%= @product.description %></p>

<p><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @product.shop.shop_name %>
</p>

<% if @product.photo.attached? %>
  <%= image_tag @product.photo %>
<% end %>

<%= link_to "Products", products_path %>
<%= link_to "Cart", cart_path %>

<% unless current_user.buyer? %>
  <%= link_to 'Edit', edit_product_path(@product) %>
  <%= link_to "Destroy", @product, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<%= link_to 'Back', products_path %>
<%= link_to "show order", orders_path %>

<%= form_with(url: cart_products_path, method: :post) do |form| %>
  <%= form.hidden_field :product_id, value: @product.id %>
  <div class="form-group">
    <%= form.label :quantity, "Quantity:" %>
    <%= form.number_field :quantity, class: "form-control", min: 1, value: 1 %>
  </div>

  <%= form.submit "Add to Cart", class: "btn btn-primary" %>
<% end %>
